*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    width: 100vw
    height: 100vh
    background: #333
    overflow: hidden

.container
    height: 100vh
    width: 100vw
    display: grid
    grid-template-columns: 4fr minmax(300px, 1fr)

// slider 
.slider
    display: grid
    grid-template-rows: auto 1fr 300px
    background: red
    border-left: 5px solid white 

//slider childeren0
.chat-box
    border-top: 5px solid #fff

    div
        display: grid
        grid-template-columns: 75% 20%
        justify-content: space-between
        padding: 10px 10px
        background: #102772


        input
            display: block
            width: 100%
            height: 60px
            font-size: 24px
            background: #151435

            border: none
            border-radius: 15px 
            color: white
            padding-left: 20px 

        button            
            display: block
            background: #177177

            height: 50px
            margin-top: 5px
            
            border: 0
            outline: none
            border-radius: 10px
            font-weight: bold
            font-size: 18px

            color: white

    ul
        list-style: none
        font-size: 24px    
        overflow-y: scroll
        height: 220px


    li
        position: relative
        background: #3651cc
        margin: 10px 5px
        height: 60px
        span 
            color: red
            font-size: 16px    
            position: absolute
            top: 5px
            right: 10px

        p
            color: white
            font-size: 24px
            padding: 10px

    background: #00f
    
.self-user
    background: #2b299b
    color: white
    border-bottom: 5px solid #fff
    padding: 10px 5px
    // font-size: 24px

    span
        font-weight: bold
        font-size : 24px
    button

        width: 80px
        height:40px
        border: none
        margin-left: 10px
        border-radius: 5px
        font-size: 18px
    
    video
        width: 80%
        margin: 0 auto
        margin-top: 10px
        border-radius: 40px
        border: 5px solid white

.users
    background: #0d3792

    list-style: none
    li.title
        border-bottom: 2px solid #fff

    li
        color: white
        padding: 5px 10px
        font-size: 24px
        display: flex
        border-bottom: 1px dashed white 
        justify-content: space-between

        p.icon
            display: inline
            flex-shrink: end
            padding: 2px 5px
            border-radius: 5px
            justify-items: end
        p.type
            margin-right: 8px

        button
            border: 0
            outline: 0
            height: 28px
            margin-left: 5px
            width: 30px





// * username styles
.set-user-name
    position: fixed
    top: calc( 40vh - 300px )
    left: calc( 50vw - 225px )

    background: #535353
    width: 450px 
    display: flex
    flex-direction: column
    border-radius: 15px
    padding: 20px 0

    h1,h3,p
        width: 100%
        text-align: center

    h1
        font-size: 28px
    h3
        font-size: 24px

    p
        position: relative
        font-size: 24px
        font-weight: bold
        padding-top: 30px 

    p:after
        left: 75px
        content: ""
        position: absolute
        top: 10%
        width: 300px
        height: 5px
        background: rgb(142, 255, 255)


    input, button
        display: block
        width: 90%
        border: 0
        outline: none
        background: #99e7ff
        
    button
        margin:  40px auto 20px auto
        height: 46px
        width: 40%
        font-weight: bold
        font-size: 24px
        padding: 10px
        box-shadow: 0 0 2px 3px #b8f7ff
        border-radius: 20px

    input
        padding: 5px
        font-size: 24px
        height: 32px
        background: transparent
        border-bottom: 2px solid #aaa
        margin: 15px auto

#mainScene
    display: flex
    flex-flow: wrap
    video
        width: 480px
        height: 480px