*
    padding: 0
    margin: 0
    box-sizing: 0

body
    width: 100vw
    height: 100vh
    background: #333
    overflow: hidden

.view
    height: 100vh
    width: 100vw

// * username styles
.set-user-name
    position: fixed
    top: calc( 40vh - 300px )
    left: calc( 50vw - 225px )

    background: #535353
    width: 450px 
    display: flex
    flex-direction: column
    border-radius: 15px
    padding: 20px 0

    h1,h3,p
        width: 100%
        text-align: center

    h1
        font-size: 28px
    h3
        font-size: 24px

    p
        position: relative
        font-size: 24px
        font-weight: bold
        padding-top: 30px 

    p:after
        left: 75px
        content: ""
        position: absolute
        top: 10%
        width: 300px
        height: 5px
        background: rgb(142, 255, 255)


    input, button
        display: block
        width: 90%
        border: 0
        outline: none
        background: #99e7ff
        
    button
        margin:  40px auto 20px auto
        height: 46px
        width: 40%
        font-weight: bold
        font-size: 24px
        padding: 10px
        box-shadow: 0 0 2px 3px #b8f7ff
        border-radius: 20px

    input
        padding: 5px
        font-size: 24px
        height: 32px
        background: transparent
        border-bottom: 2px solid #aaa
        margin: 15px auto

.show-username
    position: fixed
    top: 0
    left: 0
    font-size: 24px
    padding: 10px 0 0 10px

    span
        font-weight: bold
    
.show-all
    position: fixed
    top: 40px
    padding-left: 10px 

    list-style: none

    li
        font-size: 24px